@import '../../utils/Variables.scss';

.header {
   background-color: $color-brand-light;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 24px 0px;
   z-index: 2;
}

.headerContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav {
   display: flex;
   align-items: center;
   gap: 40px;
   margin: 4px 0px;

   &__logoLink {
      display: flex;
      align-items: center;

      &__logoText {
         @include font-brand-hard;
         color: $color-brand-dark;
         font-size: 32px;
         line-height: 1;
         text-transform: uppercase;
         display: flex;
         align-items: center;
         padding-bottom: 8px;
      }
   }

   &__navBar {
      display: flex;
      align-items: center;

      &__navBarItem {
         display: flex;
         align-items: center;
         margin-left: 24px;

         &__link {
            @include font-primary-light;
            color: $color-brand-dark;
            font-size: 16px;
            line-height: 1.375;
            cursor: pointer;
         }

         &__btn {
            display: flex;
            align-items: center;
            background-color: transparent;
            fill: $color-brand-dark;
         }
      } 
      
      &__navBarItem:first-child {
         margin-left: 0;
      }
      &__navBarItem:nth-child(2) {
         margin-left: 4px;
      }
   }
}

.search {
   position: relative;
   width: 100%;
   max-width: 577px;
   padding: 12px 0px;
   background-color: $color-primary-light;
   border-radius: 24px;
   display: flex;
   align-items: center;

   &__searchIcon {
      height: 24px;
      width: 24px;
      fill: $color-brand-dark;
      opacity: 0.4;
      position: absolute;
      top: 12px;
      left: 16px;
      cursor: pointer;
   }

   &__searchInput {
      @include font-primary-light;
      font-size: 16px;
      background-color: transparent;
      padding-left: 52px;
      width: 97%;
   }
}

.accauntBlock {
   display: flex;
   align-items: center;
   gap: 14px;

   &__cartBtn {
      display: flex;
      align-items: center;
      fill: $color-brand-dark;
      background-color: transparent;
   }
   
   &__userBtn {
      display: flex;
      align-items: center;
      fill: $color-brand-dark;
      background-color: transparent;
   }
}