@import '../../utils/Variables.scss';

.buttonDark {
   display: block;
   width: 100%;
   max-width: 210px;
   padding: 18px 0;
   border: 2px solid;
   border-color: $color-brand-dark;
   border-radius: 26px;
   background-color: $color-brand-dark;
   @include font-primary-normal;
   color: $color-brand-light;
   font-size: 16px;
   line-height: 1;
   text-align: center;
   cursor: pointer;
}

.buttonLight {}

.hero {
   position: relative;
   width: 100%;
   min-height: calc(100vh - 94px);
   margin-top: 96px;
   padding: 103px 0 50px;
   // background: $color-primary-normal url('../../assets/Hero-image.png') no-repeat scroll right 100px top -50px;
   /*background-color, background-image, background-repeat, background-attachment, background-position*/
   background-color: $color-primary-normal;
   background-image: url('../../assets/Hero-boy-and-girl-image.png');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: right 120px top -50px;
   background-size: 40%;

   &::before {
      content: "";
      background-image: url('../../assets/Hero-star-image.svg');
      background-size: 100%;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      position: absolute;
      right: 700px;
      top: 270px;
      // rotate: 15deg;

      // @media screen and (min-width: $bp-tablet) {
      //    background-image: url(../images/decor-bread-left_tablet.png);
      //    width: 180px;
      //    height: 120px;
      //    background-size: 100%;
      //    background-repeat: no-repeat;
      //    position: absolute;
      //    left: 0;
      //    bottom: 0;
      //    rotate: 0deg;
      // }
   }

   &::after {
      content: "";
      background-image: url('../../assets/Hero-star-image.svg');
      background-size: 100%;
      width: 104px;
      height: 104px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      position: absolute;
      right: 120px;
      top: 60px;
      // rotate: 15deg;

      // @media screen and (min-width: $bp-tablet) {
      //    background-image: url(../images/decor-bread-left_tablet.png);
      //    width: 180px;
      //    height: 120px;
      //    background-size: 100%;
      //    background-repeat: no-repeat;
      //    position: absolute;
      //    left: 0;
      //    bottom: 0;
      //    rotate: 0deg;
      // }
   }

   &__container {
      // padding-top: 103px;
      width: 560px;

      &__titleBlock {
         &__titleText {
            @include font-brand-hard;
            color: $color-brand-dark;
            font-size: 64px;
            line-height: 1;
         }
      }

      &__textBlock {
         margin-top: 32px;

         &__textText {
            @include font-primary-light;
            color: $color-brand-dark;
            font-size: 16px;
            line-height: 1.4;
            opacity: 0.6;
         }
      }

      &__buttonBlock {
         margin-top: 32px;
      }
      }

   &__achievement {
      margin-top: 48px;
      display: flex;

      &__achievementItem {
         padding: 0 32px;

         &__number {
            @include font-primary-hard;
            color: $color-brand-dark;
            font-size: 40px;
            line-height: 1.35;
         }

         &__text {
            @include font-primary-light;
            color: $color-brand-dark;
            font-size: 16px;
            line-height: 1.4;        
            opacity: 0.6;
         }
      }

      &__achievementItem:first-child {
         padding-left: 0;
      }

      &__achievementItem:last-child {
         padding-right: 0;
      }
   }
}

.brandsLine {
   display: flex;
   align-items: center;
   width: 100%;
   height: 122px;
   background-color: $color-brand-dark;

   &__carousel {
      &__list {
         display: flex;
         justify-content: space-between;

         &__item {
            
         }
      }
   }
}

.newArrivals {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: $color-brand-light;

   &__titleBlock {
      display: flex;
      justify-content: center;
      margin-top: 72px;

      &__titleText {
         @include font-brand-hard;
         color: $color-brand-dark;
         font-size: 48px;
         line-height: 1.2;
      }
   }

   &__container {
      margin-top: 55px;
   }

   &__productBlock {
      display: flex;
      justify-content: space-between;
   }

   &__buttonBlock {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
   }
}

.topSelling {
   &__titleBlock {
      &__titleText {}
   }

   &__container {}

   &__productBlock {
      &__productCard {
         &__imageBlock {
            &__imageItem {}
         }

         &__titleBlock {
            &__titleText {}
         }

         &__rungBlock {
            &__rungStars {}

            &__rungText {}
         }

         &__priceBlock {
            &__currentPrice {}

            &__oldPrice {}

            &__discount {}
         }
      }
   }

   &__buttonBlock {}
}

.dressStyle {
   &__container {}

   &__titleBlock {
      &__titleText {}
   }

   &__styleBlock {
      &__styleCard {
         &__text {}
      }
   }
}

.blog {
   &__container {}

   &__titleBlock {
      &__titleText {}
   }

   &__carouselBlog {
      &__container {}

      &__card {
         &__rungStars {}

         &__userBlock {
            &__userTitle {
               &__userName {}

               &__checkMarkIcon {}
            }

            &__userText {}
         }
      }
   }
}